body {
    background-color: #F0f0f0;
}

.login_div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2 px;
    display: inline-block;
}


.login_div input {
    display: block;
    margin-bottom: 7px;
}

.login_div input[type="email"] {
    border: solid 1px blue;
}

.login_div input:focus {
    border: none;
    box-shadow: 2px 2px 3px #c0c0c0;
}

.login_div input[name="password"] {
    border: solid 1px red;
}

.login_div button:hover {
    box-shadow: 0 0 3px;
}

