@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Medium.ttf");
}

html {
    font-family: "roboto", sans-serif;
    background-color: lightcyan;
}


.img_div {
    box-shadow: 10px 10px 10px black;
    background-color: cadetblue;
}

.align {
    text-align: right;
    background-color: cornflowerblue;
}

.align2 {
    background-color: lightcoral;
}

#parancs {
    background-color: lightcoral;
}

#mit {
    background-color: cornflowerblue;
}
.menu {
    position: fixed;
    border: lightblue;
    padding: 3px;
    margin: 0 0 0 85%;
    background-color: rgba(200, 200, 200, 0.1);
    display: inline-block;
    
}

.menu button {
    display: block;
    position: top right;
}

