body {
    margin: 0;
    font-family: Courier;
    background-image: url(assets/topography.png);
}

header {
    position: sticky;
    top: 0;
    padding: 0 10%;
    background-color: #333333;
}

main {
    padding-top: 5%;
    margin: auto;
    max-width: 80%;
}

h2 {
    color: #ff0099;
}

img {
    height: 48px;
}

footer {
    margin-top: 10%;
    background-color: #333333;
}

#defs article {
    margin-top: 2%;
    border: #333333 solid 1px;
    border-radius: 3px;
    background-color: #333333;
    box-shadow: 2px 2px #AAAAAA;
}

#defs article h2 {
    padding: 2%;
    margin: 0;
    
}

#defs article p {
    padding: 2%;
    margin: 0;
    background-color: #EEEEEE;
    
}



#spacer {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 5%;
}

#myName {
    font-size: 300%;
    font-weight: bold;
}

#defsTitle {
    text-align: center;
    padding: 5%;
    background-color: #ff0099;
    color: #EEEEEE;
    box-shadow: 2px 2px #AAAAAA;
    border: #333333 solid 1px;
    border-radius: 3px;
}


#footerContent {
    color: #EEEEEE;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 40%;
    padding: 1% 10% 1% 10%;

}








/* DESKTOP NAVBAR */
.navClass {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    font-weight: bold;
    font-family: monospace;
}


#logoDiv {
    display: flex;
    align-items: flex-start;
}

#logoDiv a{
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#btnDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 0;
}

#btnDiv a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin-top: 1px;
    margin-right: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
}

.navItem {
    color: #ff0099;
    border: solid #333333 1px;
    border-radius: 2px;
} 

.navItem:hover {
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    background-color: #ff0099;
    color: #333333;
}

.topNav a.active {
    background-color: #ff0099;
}

#logo :hover {
    transition: 0.9s;
    transform: rotateZ(360deg);
}

.homeBtn {
    background-color: #ff0099;
    color: #EEEEEE;
    border: 1px solid #333333;
    border-radius: 2px;
}

.homeBtn:hover {
    border: 1px solid #EEEEEE;
    background-color: #ff0099;
    color: #333333;
}

/* Hide mobile navbar on desktop */
nav.respNav {
    display: none;
}

.navLogo {
    display: none;
}

/* Mobile NAVBAR */
#respLogoDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}
#respLogoDiv a{
    padding: 17px;
    margin: 0%;
}
#respBtnDiv {
    display: flex;
    justify-content: space-between;
    gap: 0; 
}    
#respBtnDiv a{
    padding: 0%; 
}
#respLogo {
    background-color: #ff0099;
}








/* Responsive View */
@media screen and (max-width: 1000px) {
    #home {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #w3s {
        display: none;
    }
    #respW3S {
        display: flex;
        align-items: flex-start;
        padding: 10px;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    /* .navItem {
        align-items: center; 
    } */
    .logoImg {
        height: 23px;
    }
}

@media screen and (max-width: 800px) {
    #mdn {
        display: none;
    }
    #respMDN {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
}

@media screen and (max-width: 700px) {
    #so {
        display: none;
    }
    #respSO {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    #gf {
        display: none;
    }
    #respGF {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
    .logoImg {
        height: 36px;
    }
}



/* Mobile View */
@media screen and (max-width: 500px) {
    .respLogo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
    
    header {
        padding: 0 5% 0 0;
    }

    main {
        max-width: 95%;
    }
}