body {
    margin: 0;
    font-family: Courier;
    background-image: url(assets/topography.png);
}

header {
    position: sticky;
    top: 0;
    padding: 0 10%;
    background-color: #333333;
}


/* NAVBAR */
.topNav {
    overflow: hidden;
    font-weight: bold;
    font-family: monospace;
}

.topNav a {
    float: left; 
    display: block;
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navItem {
    color: #ff0099;
    border: solid #333333 1px;
    border-radius: 2px;
} 

.navItem:hover {
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    background-color: #ff0099;
    color: #333333;
}


.topNav a.active {
    background-color: #ff0099;
}

.topNav .moreIcon {
    display: none;
    background-color: #ff0099;
    color: #333333;
}

#logo {
    margin-right: 45%;
}

#logo :hover {
    transition: 0.9s;
    transform: rotateZ(360deg);
}

.homeBtn {
    background-color: #ff0099;
    color: #EEEEEE;
    border: 1px solid #333333;
    border-radius: 2px;
}

.homeBtn:hover {
    border: 1px solid #EEEEEE;
    background-color: #ff0099;
    color: #333333;
}

main {
    padding-top: 5%;
    margin: auto;
    max-width: 80%;
}

h2 {
    color: #ff0099;
}

#spacer {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 5%;
}

#name {
    font-size: 300%;
    font-weight: bold;
}

#defsTitle {
    text-align: center;
}

footer {
    margin-top: 10%;
    background-color: #333333;
    color: #ff0099;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50%;
    padding: 1% 10% 1% 10%;
}


#gfImage {
    padding-left: 10%;
    padding-right: 30%;
    width: 50%;
    display: block;

}

#author {
    width: 50%;
}

/* Responsive View */
@media screen and (max-width: 1100px) {
    .topNav a:not(:first-child) {
        display: none;
    }
    .topNav a.moreIcon {
        float: right;
        display: block;
    } 
    .topNav.responsive {
        position: relative;
    }
    .topNav.responsive .moreIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #logo {
        margin: auto;
    }
    
    header {
        padding: 0;
    }
    .topNav a {
        font-size: 35px;
        margin: auto;
    }
    
    .homeBtn {
        border: solid 1px #333333;
        border-radius: 0;
    }
    
    #shortcut {
        display: none;
    }
    #home {
        display: none;
    }
    #author {
        width: 30%;
    }
    #gfImage {
        width: 30%;
        
    }
    footer {
        gap: 5%;
        padding: 5%;
    }

}



